<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Health Portal{% endblock %}</title>

    {% block extra_head %}
    <!-- Additional head elements like meta tags or links can go here -->
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'create_blog_post' %}">Create Blog Post</a></li>
                <li><a href="{% url 'doctor_blog_list' %}">My Blog Posts</a></li>
                <li><a href="{% url 'patient_blog_list' %}">Blog Posts</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>  
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>  
            {% endif %}
        
                <!-- Add more navigation links as needed -->
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- Page-specific content will go here -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Health Portal. All rights reserved.</p>
    </footer>
    {% block extra_scripts %}
    <!-- Additional scripts can go here -->
    {% endblock %}
</body>
</html>
