{% extends 'users/base.html' %}
{% block content %}
  <h2>Blog Posts</h2>
  <h3>Categories</h3>
  <ul>
    {% for category in categories %}
      <li><a href="{% url 'patient_blog_list_by_category' category.id %}">{{ category.name }}</a></li>
    {% endfor %}
  </ul>
  <ul>
    {% for post in posts %}
      <li>
        <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 100px;">
        <h3>{{ post.title }}</h3>
        <p>{{ post.summary }}</p>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
